
<%= simple_form_for @transaction do |form| %>
  <div data-controller = "check">
    <div data-action = "change->check#toggle">
      <%= form.input :type, collection: ["Income","Expense","BankTransfer"], prompt: "Select your Transaction type", selected: "Income", input_html: { class: 'form-select' ,:style=> 'width: 300px', 'data-check-target': 'type'} %>  
    </div>
    <br>
    <div data-check-target = "from"data-action= "change->check#toggleTransaction">
      <%=
        form.input :transfer_from_id, collection: @accounts, prompt: "Select your Bank/Wallet", input_html: { class: 'form-select', 'data-check-target': 'bank' ,:style=> 'width: 300px' }
      %>
      <%=
        form.hidden_field :transfer_from_type,  input_html: {'data-check-target': 'hidden' }
      %>
    </div>
    <br>
    <div  data-check-target = "class" data-action= "click->check#toggle" class= "hidden">
      <%=
        form.input :transfer_to_id, collection: @accounts, prompt: "Select your Bank/Wallet", input_html: { class: 'form-select',:style=> 'width: 300px','data-check-target': 'transfer' }
      %>
      <%=
        form.hidden_field :transfer_to_type,  input_html: {'data-check-target': 'hidden' }
      %>
    </div>
    <br><%=form.input :amount, :input_html => {:maxlength =>20,:style=> 'width: 300px'} %>

    <br><%= form.input :category, collection: Transaction.categories.keys, prompt: "Select your Category", selected: "food", input_html: { class: 'form-select' ,:style=> 'width: 300px'}  %>
    <br>
      
    <br><%= form.input :date_performed, as: :date, html5: true, :input_html => {:maxlength =>20,:style=> 'width: 300px'} %>
  </div>
  <br><%= form.button :submit, class: 'btn btn-success' %><br><br>
  <br><br>
<% end %>
